main {
  width: 75%;
  margin: 50px auto;
}

.topside {
  /* width: 80%; */
  /* margin: 0px auto; */
  /* border: 1px solid gray; */
}

.breadcrumb {
  display: flex;
  margin: 20px 0px;
}

.breadcrumb li:first-child:after {
  content: ">";
  margin: 0px 5px;
}

.breadcrumb li:last-child {
  font-weight: bolder;
}

.artimginfo {
  overflow: hidden;
  margin: 0px auto;
}

.artimginfo img{
	border-radius:5px;
}
.artinfo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid rgb(119, 148, 116);
}
.artleft {
  display: flex;
  align-items: center;
}
.artmemimg {
  width: 120px;
  height: 120px;
  border-radius: 70%;
  overflow: hidden;
  margin: 0px 30px;
}

.contentinfo h1,
.contentinfo h3 {
  margin: 0px;
  margin-bottom: 5px;
}

.contentinfo h3 {
  font-weight: lighter;
  color: rgb(102, 102, 102);
}

.icongroup {
  font-size: 16px;
  margin-top: 20px;
  width: 250px;
}
#todo{
	display:flex;
	justify-content: space-around;
    align-items: center;
}
#point{
	text-align: end;
    margin-right: 20px;
    margin-bottom:10px;
}

.fa-product-hunt,.fa-exclamation-circle {
  color: #bbbb2b;
  font-size:20px;
  margin-right:5px;
}
.fa-exclamation-circle{
	color:red;
}


.artpoint:hover,.repo:hover {
  cursor: pointer;
}

.artcontent {
  color: rgb(43, 65, 0);
  line-height: 2;
}
.content {
  padding: 30px 0px 50px 0px;
  border-bottom: 3px solid rgb(119, 148, 116);
}

.recomm {
  color: rgb(39, 124, 0);
  font-size: 18px;
  margin-left: 620px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.recomm span:first-child {
  width: 75px;
  display: block;
}
.recommrank {
  width: 80px;
  display: block;
}

.fa-hiking {
  text-align: center;
  color: yellowgreen;
  font-size: 26px;
}
.moreimg {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imgOf5:first-child,.imgOf5:nth-child(2) {
  width: 455px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.imgOf5:nth-child(3),.imgOf5:nth-child(4),.imgOf5:last-child{
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.more {
  padding-bottom: 50px;
  border-bottom: 3px solid rgb(119, 148, 116);
}

.msglist {
  /* border: 1px solid gray; */
  width: 90%;
  margin: 0px auto;
}

.msgcard {
  /* border: 1px solid gray; */
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: #9acd32;
  color: white;
  margin-top: 20px;
}

.msgmeminfo {
  text-align: center;
}

.msgimg {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 70%;
  margin-bottom: 5px;
}
.msgmemimg{
	min-height:100%;
}
.msgmemid {
  font-size: 16px;
}
.msginfo {
  width: 95%;
}

.msginfo div:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.msg {
  margin-top: 10px;
  margin-left: 30px;
}

.msgrepo {
  color: red;
  margin-left: 5px;
  font-size: 14px;
  text-align: end;
}
.msgrepo:hover {
  cursor: pointer;
}

.message{
	width: 90%;
    margin: 50px auto;
}
    
.msgform{
	display:flex;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;	
}

.msgarea{
	display:inline-block;
	width:80%;
	height:50px;
    border-radius: 5px;
    border: 1px solid #9acd32;
}

.subBtn{
	border:none;
	background-color:#9acd32;
	border-radius: 5px;
	color:white;
	width:60px;
	padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.subBtn:hover{
	border:1px solid #9acd32;
	background-color:white;
	color:#9acd32;
}

.msgtime{
	text-align: end;
	    margin-right: 10px;
}

.msgtime span{
	margin-right:5px;
}


.overlay,.overlay2,.overlay3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.modal,.modal2,.modal3 {
  background-color: white;
  width: 400px;
/*   max-width: 800px; */
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.modal div,.modal2 div,.modal3 form div{
  margin: 15px 0px;
}

.modal input{
	margin:10px 10px;
}

#havepoint {
  color: red;
}

#givepoint {
  width: 50px;
  height: 30px;
  border-style:none;
  border-bottom: 1px solid gray;
  margin-left: 5px;
  outline: none;
  text-align: center;
}

#giveBtn,#cancel,#cancel2,#cancel3,#send{
	border-style: none;
    width: 80px;
    padding: 5px;
    border-radius: 5px;	
    cursor: pointer;	
}


#errormsg {
  color: red;
  text-align: center;
  margin-bottom:10px;
}

.-none {
  display: none;
}