main {
  width: 75%;
  margin: 50px auto;
}

.topside {
  /* width: 80%; */
  /* margin: 0px auto; */
  /* border: 1px solid gray; */
}

.breadcrumb {
  display: flex;
  margin: 20px 0px;
}

.breadcrumb li:first-child:after {
  content: ">";
  margin: 0px 5px;
}

.breadcrumb li:last-child {
  font-weight: bolder;
}

.artimginfo {
  overflow: hidden;
  margin: 0px auto;
}

.artimginfo img{
	border-radius:5px;
}
.artinfo {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid rgb(119, 148, 116);
}
.artleft {
  display: flex;
  align-items: center;
}
.artmemimg {
  width: 120px;
  height: 120px;
  border-radius: 70%;
  overflow: hidden;
  margin: 0px 30px;
}

.contentinfo h1,
.contentinfo h3 {
  margin: 0px;
  margin-bottom: 5px;
}

.contentinfo h3 {
  font-weight: lighter;
  color: rgb(102, 102, 102);
}

.icongroup {
  font-size: 30px;
  margin-top: 20px;
  width: 80px;
}

.artwish {
  color: red;
  margin-right: 5px;
}
.artpoint {
  color: yellow;
}

.artwish,
.artpoint:hover {
  cursor: pointer;
}

.artcontent {
  color: rgb(43, 65, 0);
  line-height: 2;
}
.content {
  padding: 30px 0px 50px 0px;
  border-bottom: 3px solid rgb(119, 148, 116);
}

.recomm {
  color: rgb(39, 124, 0);
  font-size: 18px;
  margin-left: 620px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.recomm span:first-child {
  width: 75px;
  display: block;
}
.recommrank {
  width: 80px;
  display: block;
}

.fa-hiking {
  text-align: center;
  color: yellowgreen;
  font-size: 26px;
}
.moreimg {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imgOf5:first-child,.imgOf5:nth-child(2) {
  width: 455px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.imgOf5:nth-child(3),.imgOf5:nth-child(4),.imgOf5:last-child{
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.more {
  padding-bottom: 50px;
  border-bottom: 3px solid rgb(119, 148, 116);
}

.msglist {
  /* border: 1px solid gray; */
  width: 90%;
  margin: 0px auto;
}

.msgcard {
  /* border: 1px solid gray; */
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: #9acd32;
  color: white;
  margin-top: 20px;
}

.msgmeminfo {
  text-align: center;
}

.msgimg {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 70%;
  margin-bottom: 5px;
}
.msgmemimg{
	min-height:100%;
}
.msgmemid {
  font-size: 16px;
}
.msginfo {
  width: 95%;
}

.msginfo div:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.msginfo div:first-child:hover {
  cursor: pointer;
}

.msgrepo {
  margin-left: 10px;
}

.msg {
  margin-top: 10px;
  margin-left: 30px;
}

.fa-exclamation-circle {
  color: red;
  margin-left: 5px;
  font-size: 18px;
}

.message{
	width: 90%;
    margin: 50px auto;
}
    
.msgform{
	display:flex;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;	
}

.msgarea{
	display:inline-block;
	width:80%;
	height:50px;
    border-radius: 5px;
    border: 1px solid #9acd32;
	
}

.subBtn{
	border:none;
	background-color:#9acd32;
	border-radius: 5px;
	color:white;
	width:60px;
	padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.subBtn:hover{
	border:1px solid #9acd32;
	background-color:white;
	color:#9acd32;
}