* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: rgb(45, 75, 77);
}

.img {
  width: 100%;
  max-width: 100%;
}
/* header */
header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 22px;
  background-color: rgb(246, 240, 237);
}
header a {
  color: rgb(45, 75, 77);
  /* font-weight: bolder; */
}
header a:hover {
  color: rgb(45, 75, 77);
}

#logo {
  width: 8%;
  overflow: hidden;
  margin: 0px 80px;
}

#navlist ul {
  display: flex;
  justify-content: space-between;
}

#navlist {
  width: 60%;
  margin: 0px 50px;
}
#memcheck {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#memcheck div {
  margin: 0px 20px;
  font-size: 20px;
}

.fa-bell {
  color: rgb(45, 75, 77);
}

.fa-bell:hover {
  cursor: pointer;
}

/* footer */

footer {
  color: rgb(45, 75, 77);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

footer h4 {
  text-align: center;
}

.fa-copyright {
  margin: 0px 3px;
}
