* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.user-info h2,
.user-info p,
.square2 h2 {
  color: #404042;
  font-weight: 500;
  opacity: 0.8;
}

.link h3,
.square2 h3 {
  color: #404042;
  font-weight: 400;
  opacity: 0.8;
}

.member_main {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: #fef5ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member_profile {
  /* border: 1px blue solid; */
  margin-top: 1rem;
  height: 180px;
  width: 180px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
}

.member_profile .member_profile_pic {
  width: 100%;
  min-height: 180px;
  /* height: 100%; */
}

.user {
  /* border: 1px green solid; */
  /*position: absolute;  */ /*new*/
  display: flex;
  justify-content: center; /*new*/
  flex-direction: column;
  width: 180px; /*new*/
  height: 275px; /*new*/
}
/* .user {
  border: 1px green solid;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
} */

.user-info {
  /* border: 1px red solid; */
  margin-top: 0.5rem;
  width: 10rem;
}

.glass {
  background: blacks;
  /*min-height: 70vh;*/ /*new*/
  /* need to check width */
  width: 100%; /*new*/
  /* didn't have margin-top before */
  /*margin-top: 115px;*/ /*new*/
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  border-radius: 1rem;
  z-index: 1;
  display: flex;
  justify-content: center; /*new*/
}

/* .glass {
  background: white;
  min-height: 70vh;
  width: 85%;
  margin-top: 40px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );

  backdrop-filter: blur(2rem);
  border-radius: 1rem;
  z-index: 1;
  display: flex;
} */

.dashboard {
  max-width: 300px; /*new*/
  width: 300px; /*new*/
  height: 550px; /*new*/
  /*flex: 1;*/ /*new*/
  display: flex; /*this is needed because we need to use align-items*/
  /*flex-direction: column;*/ /*new*/
  /*align-items: center;*/ /*new*/
  justify-content: center; /*new*/
  flex-wrap: wrap; /*new*/
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
  background-color: rgb(241, 235, 215); /*new*/
  padding-bottom: 20px; /*new*/
}
/* .dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
} */

/* SIDE MENU */
.links {
  /*margin-top: 119%;*/ /*new*/
  text-decoration: none;
  display: flex; /*new*/
  align-items: center;
  justify-content: center; /*new*/
  flex-wrap: wrap;
  width: 300px; /*new*/
}

/* .links {
  margin-top: 119%;
  text-decoration: none;
} */

/*new*/
.link,
.side-bar-event,
.side-bar-wishlist {
  width: 160px; /*new*/
  display: flex; /*new*/
  justify-content: center; /*new*/
  align-items: center; /*new*/
  flex-wrap: wrap; /*new*/
}

/*new*/
.link-btn-event,
.link-btn-wishlist {
  min-width: 160px; /*new*/
  width: 160px; /*new*/
}

.link button {
  border: none;
  background-color: #adc2a9;
  display: flex; /*new*/
  margin: 0.5rem 0; /*new*/
  align-items: center; /*new*/
  width: 100%; /*new*/
  border-radius: 0.5rem;
  padding: 0.3rem 1.5rem;
  box-shadow: 5px 5px 15px rgba(122, 122, 122, 0.2);
}

/* .link button {
  border: none;
  background-color: #adc2a9;
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.3rem 1.5rem;
  width: 9rem;
  box-shadow: 5px 5px 15px rgba(122, 122, 122, 0.2);
} */

.link button:hover {
  background-color: white;
  color: #adc2a9;
  cursor: pointer;

  transition-duration: 0.4s;
}

.events {
  width: 900px; /*new*/
  height: 550px; /*new*/
  /*flex: 4;  */ /*new*/
  /*display: flex;*/ /*new*/
  /*flex-direction: column;*/ /*new*/
  /*margin: 1.5rem;*/ /*new*/
  /*padding: 0;*/ /*new*/
  border: 2px dashed rgb(187, 177, 147);
  border-left: none; /*new*/
  display: flex; /*new*/
  justify-content: left; /*new*/
  align-items: center; /*new*/
}
/* .events {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 0;
} */

.event-input h1 {
  width: 50%;
}

/* Calendar */

/* .calendar-map .icons {
  
  width: 8%;
  position: absolute;
  display: flex;
  margin-top: 1rem;
  margin-left: 50rem;
} */

/* .calendar-icon,
.map-icon {
  float: right;
  margin-right: 1.5rem;
  transition-duration: 0.4s;
} */

.calendar-icon,
.map-icon {
  /*float: right; */ /*new*/
  /*margin-right: 1.5rem; */ /*new*/
  transition-duration: 0.4s;
  margin-top: 22px; /*new*/
}

.calendar-icon:hover,
.map-icon:hover {
  /* background-color: #adc2a9; */
  color: #adc2a9;
}

.calendar-icon {
  margin-right: 22px; /*new*/
}

/*new*/
.calendar-map {
  min-width: 520px; /*new*/
  width: 520px; /*new*/
  height: 520px; /*new*/
}
/*new*/
.calendar {
  border: 2px dashed rgb(187, 177, 147); /*new*/
}

/*new*/
.icons {
  width: 100%; /*new*/
  display: flex; /*new*/
  justify-content: center; /*new*/
  align-items: center; /*new*/
  position: relaive; /*new*/
}

.events img {
  width: 25rem;
}

/* THE SQUARES */

/*new*/
.squares {
  position: relative; /*new*/
  border: 2px solid rgb(187, 177, 147); /*new*/
}
.square1,
.square2 {
  height: 18rem;
  width: 18rem;
  min-height: 18rem; /*new*/
  min-width: 18rem; /*new*/
  border-radius: 1rem;
  z-index: 3;
  position: absolute; /*new*/
}

/* .square1,
.square2 {
  height: 18rem;
  width: 18rem;
  position: absolute;
  border-radius: 1rem;
  z-index: 3;
} */
/* back square */

.square1 {
  background: #718371;
  opacity: 0.5;
  top: -180px; /*new*/
  left: 40px; /*new*/
}

/* .square1 {
  background: #718371;
  opacity: 0.5;
  top: 28%;
  right: 13%;
} */

/* front square */
.square2 {
  background: #d3e4cd;
  top: -120px; /*new*/
  left: -20px; /*new*/
  text-align: center;
  overflow: auto;
  overflow-anchor: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.3rem;
}

/* .square2 {
  background: #d3e4cd;
  top: 35%;
  right: 17%;
  text-align: center;
  overflow: auto;
  overflow-anchor: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.3rem;
} */

.square2::-webkit-scrollbar {
  width: 1rem;
}
.square2::-webkit-scrollbar-thumb {
  background: #adc2a9;
  border-radius: 1rem;
  visibility: hidden;
}
.square2:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* CARD */
.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.7;
  border-radius: 0.5rem;
  margin: 0rem 0.4rem 0.5rem 0rem;
  padding: 0.6rem;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(122, 122, 122, 0.2);
}

.card:hover {
  transform: scale(1.02);
  transition-duration: 0.4s;
}

/* SIDE MENU */
/* .side-bar-event,
.side-bar-wishlist {
  display: flex;
  padding: 0rem;
} */
.side-bar-event button,
.side-bar-wishlist button {
  /* margin: 0; */
  transition-duration: 0.4s;
}

.second-menu-event,
.second-menu-wishlist {
  position: absolute;
  /* border: red solid 1px; */
  padding: 0rem 0rem 0rem 1rem;
  margin-left: 9.5rem; /*new*/
  z-index: 100;
}

/* .second-menu-event,
.second-menu-wishlist {
  position: absolute;
   border: red solid 1px;
  padding: 0rem 0rem 0rem 1rem;
  margin-left: 8.5rem;
  z-index: 100;
} */

.second-menu-event {
  bottom: 6.7rem;
}

.second-menu-wishlist li {
  width: 5.3rem;
}

.second-menu-wishlist {
  bottom: 1.7rem;
}

.second-menu-event li,
.second-menu-wishlist li {
  display: none;
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem;
  border: #adc2a9 solid 2px;
  border-radius: 0.5rem;
}

.side-bar-event li:hover > ul > li,
.side-bar-wishlist li:hover > ul > li {
  display: block;
}

.second-menu-event li,
.second-menu-wishlist li {
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
}

.second-menu-event li:hover,
.second-menu-wishlist li:hover {
  background-color: #adc2a9;
  color: white;
}

/* SIDE MENU */
.side-bar-event,
.side-bar-wishlist {
  display: flex;
  /*padding: 0rem;*/ /*new*/
}

/* .side-bar-event,
.side-bar-wishlist {
  display: flex;
  padding: 0rem;
} */
.side-bar-event button,
.side-bar-wishlist button {
  margin: 0;
  transition-duration: 0.4s;
}

.second-menu-event {
  bottom: 5rem;
}

.second-menu-wishlist li {
  width: 5.3rem;
}

.second-menu-wishlist {
  bottom: 0.2rem;
}

.second-menu-event li,
.second-menu-wishlist li {
  display: none;
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem;
  border: #adc2a9 solid 2px;
  border-radius: 0.5rem;
}

.side-bar-event li:hover > ul > li,
.side-bar-wishlist li:hover > ul > li {
  display: block;
}

.second-menu-event li,
.second-menu-wishlist li {
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
}

.second-menu-event li:hover,
.second-menu-wishlist li:hover {
  background-color: #adc2a9;
  color: white;
}

/* MAP */
#map {
  width: 25rem;
  height: 25rem;
  margin: 3rem 4rem;
  z-index: 3;
  border-radius: 1rem;
}

.active {
  border: #718371 solid 0.5rem;
}
